<div class="page-loader-wrapper">
    <div class="loader">
        <div class="m-t-30"><img src="~/assets/images/logo.svg" width="48" height="48" alt="Alpino"></div>
        <p>Cargando...</p>
    </div>
</div>
<div class="overlay_menu">
    <button class="btn btn-primary btn-icon btn-icon-mini btn-round"><i class="zmdi zmdi-close"></i></button>
    <div class="container">
        <div class="row clearfix">
            <div class="card">
                <div class="body">
                    <div class="input-group m-b-0">
                        <input type="text" class="form-control" placeholder="Buscar...">
                        <span class="input-group-addon">
                            <i class="zmdi zmdi-search"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12">
                <div class="social">
                    <a class="icon" href="https://www.facebook.com/thememakkerteam" target="_blank"><i class="zmdi zmdi-facebook"></i></a>
                    <a class="icon" href="https://www.behance.net/thememakker" target="_blank"><i class="zmdi zmdi-behance"></i></a>
                    <a class="icon" href="#"><i class="zmdi zmdi-twitter"></i></a>
                    <a class="icon" href="#"><i class="zmdi zmdi-linkedin"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="overlay"></div><!-- Overlay For Sidebars -->
<nav class="navbar">
    <div class="container">
        <ul class="nav navbar-nav">
            <li>
                <div class="navbar-header">
                    <a href="javascript:void(0);" class="h-bars"></a>
                    <a class="navbar-brand" href="index.html"><img src="~/assets/images/logo-black.svg" width="35" alt="Alpino"><span class="m-l-10">ATS</span></a> <!-- Applicant Tracking System-->
                </div>
            </li>
            <li class="search_bar">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Buscar...">
                </div>
            </li>
            <li class="dropdown">
                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button"><i class="zmdi zmdi-apps"></i></a>
                <ul class="dropdown-menu pullDown">
                    <li><a href="mail-inbox.html"><i class="zmdi zmdi-email m-r-10"></i><span>Mail</span></a></li>
                    <li><a href="contact.html"><i class="zmdi zmdi-accounts-list m-r-10"></i><span>Contacts</span></a></li>
                    <li><a href="chat.html"><i class="zmdi zmdi-comment-text m-r-10"></i><span>Chat</span></a></li>
                    <li><a href="invoices.html"><i class="zmdi zmdi-arrows m-r-10"></i><span>Invoices</span></a></li>
                    <li><a href="events.html"><i class="zmdi zmdi-calendar-note m-r-10"></i><span>Calendar</span></a></li>
                    <li><a href="javascript:void(0)"><i class="zmdi zmdi-arrows m-r-10"></i><span>Notes</span></a></li>
                    <li><a href="javascript:void(0)"><i class="zmdi zmdi-view-column m-r-10"></i><span>Taskboard</span></a></li>
                </ul>
            </li>
            <li class="dropdown notifications badgebit">
                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
                    <i class="zmdi zmdi-notifications"></i>
                    <div class="notify">
                        <span class="heartbit"></span>
                        <span class="point"></span>
                    </div>
                </a>
                <ul class="dropdown-menu pullDown">
                    <li class="header">New Message</li>
                    <li class="body">
                        <ul class="menu list-unstyled">
                            <li>
                                <a href="javascript:void(0);">
                                    <div class="media">
                                        <img class="media-object" src="~/assets/images/xs/avatar5.jpg" alt="">
                                        <div class="media-body">
                                            <span class="name">Alexander <span class="time">13min ago</span></span>
                                            <span class="message">Meeting with Shawn at Stark Tower by 8 o'clock.</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">
                                    <div class="media">
                                        <img class="media-object" src="~/assets/images/xs/avatar6.jpg" alt="">
                                        <div class="media-body">
                                            <span class="name">Grayson <span class="time">22min ago</span></span>
                                            <span class="message">You have 5 unread emails in your inbox.</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">
                                    <div class="media">
                                        <img class="media-object" src="~/assets/images/xs/avatar3.jpg" alt="">
                                        <div class="media-body">
                                            <span class="name">Sophia <span class="time">31min ago</span></span>
                                            <span class="message">OrderPlaced: You received a new oder from Tina.</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">
                                    <div class="media">
                                        <img class="media-object" src="~/assets/images/xs/avatar4.jpg" alt="">
                                        <div class="media-body">
                                            <span class="name">Isabella <span class="time">35min ago</span></span>
                                            <span class="message">Lara added a comment in Blazing Saddles.</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="footer"> <a href="javascript:void(0);">View All</a> </li>
                </ul>
            </li>
            <li class="dropdown task badgebit">
                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
                    <i class="zmdi zmdi-flag"></i>
                    <div class="notify">
                        <span class="heartbit"></span>
                        <span class="point"></span>
                    </div>
                </a>
                <ul class="dropdown-menu pullDown">
                    <li class="header">Project</li>
                    <li class="body">
                        <ul class="menu tasks list-unstyled">
                            <li>
                                <a href="javascript:void(0);">
                                    <span class="text-muted">Clockwork Orange <span class="float-right">29%</span></span>
                                    <div class="progress">
                                        <div class="progress-bar l-turquoise" role="progressbar" aria-valuenow="29" aria-valuemin="0" aria-valuemax="100" style="width: 29%;"></div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">
                                    <span class="text-muted">Blazing Saddles <span class="float-right">78%</span></span>
                                    <div class="progress">
                                        <div class="progress-bar l-slategray" role="progressbar" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100" style="width: 78%;"></div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">
                                    <span class="text-muted">Project Archimedes <span class="float-right">45%</span></span>
                                    <div class="progress">
                                        <div class="progress-bar l-parpl" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%;"></div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">
                                    <span class="text-muted">Eisenhower X <span class="float-right">68%</span></span>
                                    <div class="progress">
                                        <div class="progress-bar l-coral" role="progressbar" aria-valuenow="68" aria-valuemin="0" aria-valuemax="100" style="width: 68%;"></div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">
                                    <span class="text-muted">Oreo Admin Templates <span class="float-right">21%</span></span>
                                    <div class="progress">
                                        <div class="progress-bar l-amber" role="progressbar" aria-valuenow="21" aria-valuemin="0" aria-valuemax="100" style="width: 21%;"></div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="footer"><a href="javascript:void(0);">View All</a></li>
                </ul>
            </li>
            <li class="float-right">
                <a href="javascript:void(0);" class="fullscreen" data-provide="fullscreen"><i class="zmdi zmdi-fullscreen"></i></a>
                <a href="javascript:void(0);" class="btn_overlay"><i class="zmdi zmdi-sort-amount-desc"></i></a>
                <a href="javascript:void(0);" class="js-right-sidebar"><i class="zmdi zmdi-settings zmdi-hc-spin"></i></a>
                <a href="sign-in.html" class="mega-menu"><i class="zmdi zmdi-power"></i></a>
            </li>
        </ul>
    </div>
</nav>
<div class="menu-container">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="h-menu">
                    <li class="open active"><a href="index.html"><i class="zmdi zmdi-home"></i></a></li>
                    <li>
                        <a href="javascript:void(0)">Empleados</a>
                        <ul class="sub-menu">
                            <li> @Html.ActionLink("Ver Empleados", "VerEmpleado", "Empleado")</li>
                            <li>@Html.ActionLink("Alta Empleados", "AltaEmpleado", "Empleado")</li>
                            <li>@Html.ActionLink("Modificar Empleados", "ModificarEmpleado", "Empleado")</li>
                            <li>@Html.ActionLink("Alta TipoEmpleados", "TipoEmpleado", "Empleado")</li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Usuarios</a>
                        <ul class="sub-menu">
                            <li>@Html.ActionLink("Acceso Uduarios", "AccesoUsuarios", "Usuarios")</li>
                            <li>@Html.ActionLink("Alta Uduarios", "AltaUsuarios", "Usuarios")</li>
                            <li>@Html.ActionLink("Ver Usuarios", "VerUsuarios", "Usuarios")</li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Curriculums</a>

                        <ul class="sub-menu">
                            <li>@Html.ActionLink("Alta CV's", "AltaCVS", "CVS")</li>
                            <li>@Html.ActionLink("Ver CV's", "VerCVS", "CVS")</li>
                            <li>@Html.ActionLink("Modificar CV's", "ModificarCVS", "CVS")</li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Reportes</a>
                        <ul class="sub-menu">
                            <li><a href="basic-form-elements.html">Reporte de Empleados</a></li>
                            <li><a href="advanced-form-elements.html">Reporte de Usuarios</a></li>
                            <li><a href="form-examples.html">Reporte de Curriculums</a></li>
                            <li><a href="form-validation.html">Reporte General</a></li>
                        </ul>
                    </li>

            </div>
        </div>
    </div>
</div>
